[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "==3.0.2"
flask-migrate = "==2.7.0"
flask-script = "==2.0.5"
faker = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
