[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
"sqlalchemy.orm" = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask = "*"
flask-migrate = "*"
flask-restful = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
