:root {
  --primary-color: #4CAF50; /* Green */
  --highlight-color: #607D8B; /* Grey */
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --background-color: #fff; /* White */
  --text-color: #333; /* Black */
}

/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* General Styles */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  min-height: 100vh;
}

main {
  width: 80%;
  margin: 20px 0;
}

/* Header Styles */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px; /* Adjust padding as needed */
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--highlight-color); /* Highlight color on hover */
}

/* Common Styles for Multiple Components */
.Restaurant,
.RestaurantPizzaForm,
.Pizza,
.RestaurantId,
.AddNewPizzaForm {
  background-color: var(--background-color);
  border-radius: 8px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: var(--box-shadow);
}

/* Form Label Styles */
.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Form Select and Input Styles */
.form-select,
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
}

/* Form Button Styles */
.form-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Form Button Hover Effect */
.form-button:hover {
  background-color: var(--highlight-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  main {
    width: 90%;
  }
}
